@import "../variables/variables";

.main-left {

    .title {
        width: 604px;
        margin-right: 128px;
    }

    .dsc {
        width: 558px;
    }
}

.main-link {
    padding: 15px 30px;
}

.logos {
    margin-bottom: 256px;
    padding-left: 2%;
    padding-right: 2%;
}

.article {
    img {
        margin-right: 68px;
        margin-bottom: 264px;
    }
}

.article-info {
    height: 548px;
    padding-top: 110px;

    h2 {
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        margin-bottom: 30px;
    }

    p {
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 25.6px;
        margin-bottom: 50px;
        padding-right: 24px;
    }

    a {
        padding: 15px 30px;
        background-color: #3A68B8;
        color: #FFFFFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration: none;
        border-radius: 5px;
    }
}

.awardsWrap {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 257px;
}

.awardItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff3;
    backdrop-filter: blur(100px);

    img {
        margin-bottom: 30px;
    }

    h6 {
        color: #FFF;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 31.25px;
        margin-bottom: 30px;
    }

    p {
        color: #FFF;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 25.6px;
    }
}

.feedback {
    margin-bottom: 221px;
}

.feedbackInfoWrap {
    margin-right: 25px;
}

.feedbackTitle {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 40px;
}

.feedbackParagraph {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.6px;
    margin-bottom: 20px;
    width: 460px;
}

.footer {
    padding-left: 2%;
    padding-right: 2%;
    color: #FFF;
    font-family: Roboto, sans-serif;
    margin-bottom: 46px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    address {
        //display: flex;
        //flex-direction: column;

        &:nth-child(2) {
            font-size: 14px;
            font-style: italic;
            font-weight: 100;

            .contactItem {
                width: 261px;
            }
        }
    }

    .footerTitle {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 33px;
    }

    .contactItemWrap {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 362px;
        margin-right: 30px;
        display: flex;

        i,
        img {
            margin-right: 10px;
            width: 13px;
            height: 13px;
        }
    }

    .contactItem {
        margin-bottom: 24px;
    }

    .contactLogos img {
        margin-right: 24px;
    }

    .contactLogos img,
    .contactLogos i {
        width: 18px;
        height: 15px;
        color: #FFF;
    }

    .contactLogos a {
        text-decoration: none;
    }
}

main {
    padding-left: 2%;
    padding-right: 2%;
}

@media (max-width:1024px) and (min-width:768px) {
    .main-right {
        margin-top: 128px;
    }
}

@media (max-width:1024px) {
    .main .container {
        // max-width: 1024px;
        flex-direction: column;
        align-items: center;

        .subtitle {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
        }

        .title {
            font-size: 48px;
        }
    }

    .logos .container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        justify-items: center;
    }

    .logos {
        margin-bottom: 277px;
    }

    .article {
        flex-direction: column;
        align-items: center;

        img {
            max-width: 594px;
            margin-bottom: 68px;
        }

        .article-info {
            max-width: 484px;
            ;
        }
    }

    .awardsWrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        .awardItem {
            max-width: 362px;
        }
    }

    .feedback {
        flex-direction: column;
        align-items: center;
    }

    .feedbackTitle {
        max-width: 548px;
    }

    .feedbackParagraph {
        max-width: 460px;
    }

    .feedback img {
        margin-top: 64px;
    }

    .footer {
        grid-template-columns: repeat(2, 1fr);
        gap: 31px;
    }
}

@media (max-width:767px) {
    .header-link {
        font-size: 14px;
    }

    .header {
        margin-bottom: 64px;
    }

    .main {
        //max-width: 343px;
        display: flex;
    }

    .main-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 104px;
    }

    .main .container .title {
        font-size: 28px;
        margin-bottom: 40px;
        max-width: 343px;
        text-align: center;
    }

    .main .container .subtitle {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .main-left .title {
        width: inherit;
        margin: auto;
    }

    .main-left .dsc {
        text-align: center;
        margin-bottom: 39px;
        max-width: 343px;
    }

    .main-link {
        margin: 0 auto 24px;

    }

    .logos {
        margin-bottom: 204px;
    }

    .logos .container {
        grid-template-columns: 1fr;
    }

    .article img {
        margin-right: 0;
        margin-bottom: 68px;
        max-height: 316px;
    }

    .article .article-info {
        max-width: 342px;
        text-align: center;
    }

    .article-info {
        padding-top: 0;
    }

    .article-info h2 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .article-info p {
        padding-right: 0;
        margin-bottom: 16px;
    }

    .article .article-info .learnMore {
        display: inline-block;
    }

    .article-info {
        height: inherit;
        margin-bottom: 96px;
    }

    .awardsWrap {
        margin-bottom: 96px;
    }

    .feedbackInfoWrap {
        margin-right: 0;
        text-align: center;
    }

    .feedbackInfoWrap {
        margin-right: 0px;
        margin-bottom: 16px;
        max-width: 343px;
    }

    .feedbackTitle {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .feedbackParagraph {
        max-width: inherit;
        margin-bottom: 16px;
    }

    .feedback img {
        margin-top: 0;
        max-width: 343px;
    }

    .feedback {
        margin-bottom: 209px;
    }

    .footer {
        max-width: 343px;
        margin-bottom: 64px;
        grid-template-columns: 1fr;

        address:nth-child(2) {
            grid-row-start: 1;
            grid-row-end: 2;
        }

        address:nth-child(3) div {
            text-align: center;
        }
    }

    .footer .container {
        max-width: inherit;
    }

    address h4 {
        text-align: center;
    }
}